.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 0 10px;
  font-family: Pretendard;
  font-size: 12px;
  background-color: #08cac4;
  text-align: center;
  border-radius: 15px;
  position: absolute;
  bottom: 30px;
  opacity: 80%;
}
